Repository Zeeeepa/codegen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @codegen-sh/graph-sitter, @codegen-team, @codegen-sh/capabilities, @renovate-approve[bot]

.github/CODEOWNERS:

* @codegen-sh/graph-sitter @codegen-team
**/skills @codegen-sh/capabilities @codegen-team @codegen-sh/capabilities
**/code_generation @codegen-sh/graph-sitter @codegen-team
**/uv.lock @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/pyproject.toml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/*.yml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]

Update Python version references to 3.13
  Dockerfile
  src/codemods/canonical/update_union_types/update_union_types.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix IndexError in CodeAgent.run method when message.content is empty
  src/codegen/agents/code_agent.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Create and assign Linear ticket before solving an issue
  src/codegen/extensions/langchain/agent.py
  src/codegen/extensions/langchain/prompts.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Handle repos that don't support draft PRs
  src/codegen/git/clients/git_repo_client.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix RelaceEditTool to handle file not found errors gracefully
  src/codegen/extensions/tools/relace_edit.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update relace_edit.py
  src/codegen/extensions/tools/relace_edit.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update relace_edit.py
  src/codegen/extensions/tools/relace_edit.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Automated pre-commit update
  src/codegen/extensions/tools/relace_edit.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add file validity and existance check to `create_file` and `create_directory`
  src/codegen/sdk/core/codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team

fix: limited token output
  src/codegen/agents/local_run.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Handle repositories that don't support draft PRs
  CHANGES.md
  src/codegen/git/clients/git_repo_client.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add FileIO-level `allowed_paths` check
  src/codegen/sdk/codebase/codebase_context.py
  src/codegen/sdk/codebase/io/file_io.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Implement defense against RateLimitError in CodeAgent
  src/codegen/agents/code_agent.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add integration tests for tools
  tests/integration/extension/test_reflection.py
  tests/integration/extension/test_relace_edit.py
  tests/integration/extension/test_slack.py
  tests/integration/extension/test_workspace_tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team

chore: ignoring env variables
  codegen-examples/examples/swebench_agent_run/.gitignore
Owners: @codegen-sh/graph-sitter, @codegen-team

.
  docs/gen/capabilities.mdx
  docs/gen/common-commands.mdx
  docs/gen/introduction.mdx
  docs/gen/quickstart.mdx
  docs/images/codegen-bot-intro.png
  docs/mint.json
Owners: @codegen-sh/graph-sitter, @codegen-team

Add sparkle emoji to README
  README.md
Owners: @codegen-sh/graph-sitter, @codegen-team

.
  docs/gen/capabilities.mdx
  docs/gen/common-commands.mdx
  docs/gen/faq.mdx
  docs/gen/introduction.mdx
  docs/gen/quickstart.mdx
  docs/introduction/overview.mdx
  docs/mint.json
Owners: @codegen-sh/graph-sitter, @codegen-team

Add sparkle emoji to README title
  README.md
Owners: @codegen-sh/graph-sitter, @codegen-team

Add support for multiple Linear teams to LinearCreateIssueTool
  src/codegen/extensions/langchain/tools.py
  tests/integration/extension/test_linear_team_id.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add feature to suggest starting prompts for codegen
  src/codegen/cli/commands/agent/main.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add web browser tool for accessing web content
  src/codegen/extensions/langchain/agent.py
  src/codegen/extensions/langchain/tools.py
  src/codegen/extensions/tools/__init__.py
  src/codegen/extensions/tools/web_browser.py
Owners: @codegen-sh/graph-sitter, @codegen-team

CG-11840: Optimize ListDirectoryTool performance using os.listdir()
  src/codegen/extensions/tools/list_directory.py
Owners: @codegen-sh/graph-sitter, @codegen-team

mv refactor
  src/codegen/sdk/codebase/transaction_manager.py
  src/codegen/sdk/core/file.py
  src/codegen/sdk/core/import_resolution.py
  src/codegen/sdk/core/symbol.py
  src/codegen/sdk/typescript/symbol.py
  tests/unit/codegen/sdk/python/file/test_file_remove_unused_import.py
  tests/unit/codegen/sdk/python/file/test_file_unicode.py
  tests/unit/codegen/sdk/python/function/test_function_move_to_file.py
  tests/unit/codegen/sdk/typescript/file/test_file_remove.py
  tests/unit/codegen/sdk/typescript/file/test_file_unicode.py
  tests/unit/codegen/sdk/typescript/function/test_function_move_to_file.py
  tests/unit/codegen/sdk/typescript/move_symbol_to_file/test_move.py
  tests/unit/codegen/sdk/typescript/move_symbol_to_file/test_move_tsx_to_file.py
  tests/unit/codegen/sdk/typescript/tsx/test_tsx_edit.py
  tests/unit/codegen/sdk/typescript/tsx/test_tsx_parsing.py
  tests/unit/skills/implementations/guides/organize-your-codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team, @codegen-sh/capabilities

Automated pre-commit update
  src/codegen/sdk/codebase/transaction_manager.py
  src/codegen/sdk/core/file.py
  src/codegen/sdk/core/import_resolution.py
  src/codegen/sdk/core/symbol.py
  src/codegen/sdk/typescript/symbol.py
  tests/unit/codegen/sdk/python/file/test_file_unicode.py
  tests/unit/codegen/sdk/python/function/test_function_move_to_file.py
  tests/unit/codegen/sdk/typescript/file/test_file_remove.py
  tests/unit/codegen/sdk/typescript/file/test_file_unicode.py
Owners: @codegen-sh/graph-sitter, @codegen-team

CG-12173: Add Sentry Integration with ViewSentryTool
  src/codegen/extensions/langchain/sentry_tools.py
  src/codegen/extensions/langchain/tools.py
  src/codegen/extensions/sentry/README.md
  src/codegen/extensions/sentry/__init__.py
  src/codegen/extensions/sentry/config.py
  src/codegen/extensions/sentry/example.ipynb
  src/codegen/extensions/sentry/sentry_client.py
  src/codegen/extensions/tools/sentry/__init__.py
  src/codegen/extensions/tools/sentry/sentry_tool.py
  src/codegen/extensions/tools/sentry/tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Discard changes to docs/introduction/overview.mdx
  docs/introduction/overview.mdx
Owners: @codegen-sh/graph-sitter, @codegen-team

Automated pre-commit update
  docs/mint.json
Owners: @codegen-sh/graph-sitter, @codegen-team

CG-12188: Add lazy_parse flag to Codebase constructor
  src/codegen/sdk/core/codebase_updated.py
  src/codegen/sdk/core/codebase_with_lazy_parse.py
Owners: @codegen-sh/graph-sitter, @codegen-team

CG-12194: Add Web Browsing Tool similar to Linear ViewIssue Tool
  src/codegen/extensions/langchain/tools.py
  src/codegen/extensions/langchain/web_tools.py
  src/codegen/extensions/web/__init__.py
  src/codegen/extensions/web/types.py
  src/codegen/extensions/web/web.py
  src/codegen/extensions/web/web_client.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add web search and page viewing tools for code agent
  src/codegen/extensions/langchain/agent.py
  src/codegen/extensions/langchain/tools.py
  src/codegen/extensions/tools/web_page_view.py
  src/codegen/extensions/tools/web_search.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add deAsyncify method to TSFunction
  src/codegen/sdk/typescript/function.py
  tests/unit/codegen/sdk/typescript/function/test_function_deasyncify.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update search tool to include filename matches
  src/codegen/extensions/tools/search.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add multimodal support for CodeAgent
  src/codegen/agents/code_agent.py
  src/codegen/extensions/langchain/llm.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add sparkle emoji to README
  README.md
Owners: @codegen-sh/graph-sitter, @codegen-team

Add sparkle emoji to README
  README.md
Owners: @codegen-sh/graph-sitter, @codegen-team

Add sparkle emoji to README
  README.md
Owners: @codegen-sh/graph-sitter, @codegen-team

CG-12227: Enable deployment of codegen PRs to Vercel
  .github/workflows/vercel-pr-deployment.yml
  docs/VERCEL_DEPLOYMENT.md
  vercel.json
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

fix: init changes for extracting structured tool outputs
  src/codegen/agents/data.py
  src/codegen/agents/tracer.py
  src/codegen/extensions/langchain/tools.py
  src/codegen/extensions/tools/view_file.py
Owners: @codegen-sh/graph-sitter, @codegen-team

fix: .
  src/codegen/agents/data.py
  src/codegen/extensions/langchain/tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team
