Repository Zeeeepa/codegen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @codegen-sh/graph-sitter, @codegen-team, @codegen-sh/capabilities, @renovate-approve[bot]

.
  src/codegen/extensions/langchain/tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Automated pre-commit update
  src/codegen/extensions/langchain/tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team

.
  src/codegen/extensions/langchain/tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Automated pre-commit update
  src/codegen/extensions/langchain/tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team

done
  src/codegen/sdk/core/expressions/unpack.py
  src/codegen/sdk/core/symbol_groups/dict.py
  src/codegen/sdk/typescript/symbol_groups/dict.py
  tests/unit/codegen/sdk/python/expressions/test_dict.py
  tests/unit/codegen/sdk/typescript/expressions/test_dict.py
Owners: @codegen-sh/graph-sitter, @codegen-team

done
  src/codegen/sdk/core/symbol_groups/dict.py
  src/codegen/sdk/typescript/symbol_groups/dict.py
  tests/unit/codegen/sdk/python/expressions/test_dict.py
  tests/unit/codegen/sdk/typescript/expressions/test_dict.py
Owners: @codegen-sh/graph-sitter, @codegen-team

wip: initial refactor
  codegen-examples/examples/swebench_agent_run/entry_point.py
  codegen-examples/examples/swebench_agent_run/metrics.py
  codegen-examples/examples/swebench_agent_run/modal_harness/__init__.py
  codegen-examples/examples/swebench_agent_run/modal_harness/entry_point.py
  codegen-examples/examples/swebench_agent_run/modal_harness/sandbox.py
  codegen-examples/examples/swebench_agent_run/report.py
  codegen-examples/examples/swebench_agent_run/run_eval.py
Owners: @codegen-sh/graph-sitter, @codegen-team

fix: refactor run to complete
  codegen-examples/examples/swebench_agent_run/.env.db.template
  codegen-examples/examples/swebench_agent_run/.gitignore
  codegen-examples/examples/swebench_agent_run/README.md
  codegen-examples/examples/swebench_agent_run/agent_cli.py
  codegen-examples/examples/swebench_agent_run/deploy.sh
  codegen-examples/examples/swebench_agent_run/eval_cli.py
  codegen-examples/examples/swebench_agent_run/pyproject.toml
  codegen-examples/examples/swebench_agent_run/run_eval.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/__init__.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/metrics.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/modal_harness/__init__.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/modal_harness/entry_point.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/modal_harness/sandbox.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/report.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/utils.py
  codegen-examples/examples/swebench_agent_run/test.py
  codegen-examples/examples/swebench_agent_run/uv.lock
  codegen-examples/pyproject.toml
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

fixed documentation errors for GitHub checks
  codegen-examples/examples/github_checks/README.md
  codegen-examples/examples/github_checks/app.py
Owners: @codegen-sh/graph-sitter, @codegen-team

message
  codegen-examples/examples/github_checks/app.py
Owners: @codegen-sh/graph-sitter, @codegen-team

feat: adds retry logic for llm calls
  src/codegen/agents/code_agent.py
  src/codegen/extensions/langchain/llm.py
  src/codegen/extensions/langchain/utils/retry.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Automated pre-commit update
  src/codegen/extensions/langchain/llm.py
  src/codegen/extensions/langchain/utils/retry.py
Owners: @codegen-sh/graph-sitter, @codegen-team

chore: merge RepoConfig and RepositoryConfig
  src/codegen/cli/auth/session.py
  src/codegen/cli/commands/config/main.py
  src/codegen/cli/commands/run/run_local.py
  src/codegen/cli/commands/start/main.py
  src/codegen/cli/mcp/resources/system_prompt.py
  src/codegen/configs/models/base_config.py
  src/codegen/configs/models/repository.py
  src/codegen/configs/user_config.py
  src/codegen/extensions/events/modal/base.py
  src/codegen/git/clients/git_repo_client.py
  src/codegen/git/repo_operator/local_git_repo.py
  src/codegen/git/repo_operator/repo_operator.py
  src/codegen/git/schemas/repo_config.py
  src/codegen/git/utils/clone_url.py
  src/codegen/git/utils/language.py
  src/codegen/runner/clients/codebase_client.py
  src/codegen/runner/sandbox/runner.py
  src/codegen/runner/sandbox/server.py
  src/codegen/runner/servers/local_daemon.py
  src/codegen/sdk/code_generation/current_code_codebase.py
  src/codegen/sdk/codebase/config.py
  src/codegen/sdk/python/import_resolution.py
  src/codegen/visualizations/visualization_manager.py
  tests/integration/codegen/git/conftest.py
  tests/integration/codegen/git/repo_operator/test_remote_repo_operator.py
  tests/integration/codegen/runner/conftest.py
  tests/shared/skills/verify_skill_output.py
Owners: @codegen-sh/graph-sitter, @codegen-team, @codegen-sh/capabilities

fix tests
  src/codegen/cli/commands/start/main.py
  src/codegen/configs/models/repository.py
  src/codegen/git/repo_operator/local_git_repo.py
  src/codegen/git/repo_operator/repo_operator.py
  src/codegen/runner/clients/codebase_client.py
  src/codegen/sdk/codebase/factory/codebase_factory.py
  src/codegen/sdk/codebase/factory/get_session.py
  tests/unit/codegen/runner/sandbox/conftest.py
Owners: @codegen-sh/graph-sitter, @codegen-team

cleanup create_from_repo
  src/codegen/git/repo_operator/repo_operator.py
  src/codegen/sdk/core/codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team

sigh
  scripts/profiling/apis.py
  src/codegen/configs/models/repository.py
  src/codegen/git/repo_operator/local_git_repo.py
  src/codegen/git/repo_operator/repo_operator.py
  src/codegen/runner/clients/codebase_client.py
  src/codegen/runner/sandbox/runner.py
  src/codegen/sdk/code_generation/current_code_codebase.py
  src/codegen/sdk/codebase/config.py
  src/codegen/sdk/system-prompt.txt
  tests/integration/codegen/runner/conftest.py
Owners: @codegen-sh/graph-sitter, @codegen-team

lol
  codegen-examples/examples/swebench_agent_run/local_run.ipynb
Owners: @codegen-sh/graph-sitter, @codegen-team

warning: this drops changes that are not commited! to be addressed in next revision
  src/codegen/extensions/attribution/git_history.py
Owners: @codegen-sh/graph-sitter, @codegen-team

done
  codegen-examples/examples/langchain_agent/run.py
  codegen-examples/examples/swebench_agent_run/local_run.ipynb
  pyproject.toml
  src/codegen/agents/chat_agent.py
  src/codegen/agents/code_agent.py
  src/codegen/extensions/langchain/agent.py
  src/codegen/extensions/langchain/graph.py
  src/codegen/extensions/langchain/llm.py
  src/codegen/extensions/langchain/tools.py
  src/codegen/extensions/tools/search.py
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

fix: enable CreatePRTool to detect new files by using stage_files=True
  src/codegen/extensions/tools/github/create_pr.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Make git credential overwriting opt-in during codegen init
  src/codegen/cli/auth/session.py
  src/codegen/cli/commands/init/main.py
  src/codegen/cli/workspace/initialize_workspace.py
  src/codegen/git/repo_operator/repo_operator.py
Owners: @codegen-sh/graph-sitter, @codegen-team

done
  src/codegen/extensions/langchain/graph.py
  src/codegen/extensions/langchain/tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team

retry stuff
  src/codegen/extensions/langchain/llm.py
Owners: @codegen-sh/graph-sitter, @codegen-team

done
  src/codegen/extensions/langchain/graph.py
Owners: @codegen-sh/graph-sitter, @codegen-team

done
  src/codegen/extensions/langchain/graph.py
  src/codegen/extensions/langchain/llm.py
Owners: @codegen-sh/graph-sitter, @codegen-team

added support for InternalServerError as well
  src/codegen/extensions/langchain/graph.py
Owners: @codegen-sh/graph-sitter, @codegen-team

support for 500 error
  src/codegen/extensions/langchain/graph.py
Owners: @codegen-sh/graph-sitter, @codegen-team

done
  src/codegen/agents/code_agent.py
  src/codegen/extensions/langchain/graph.py
  src/codegen/extensions/langchain/utils/__init__.py
  src/codegen/extensions/langchain/utils/get_langsmith_url.py
Owners: @codegen-sh/graph-sitter, @codegen-team

done
  src/codegen/agents/code_agent.py
Owners: @codegen-sh/graph-sitter, @codegen-team

wip: merge changes from run_eval develop
  codegen-examples/examples/swebench_agent_run/entry_point.py
  codegen-examples/examples/swebench_agent_run/eval_cli.py
  codegen-examples/examples/swebench_agent_run/run_eval.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/constants.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/modal_harness/entry_point.py
  codegen-examples/examples/swebench_agent_run/uv.lock
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

add: coarse retries for agent run
  codegen-examples/examples/swebench_agent_run/eval_cli.py
  codegen-examples/examples/swebench_agent_run/pyproject.toml
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/modal_harness/entry_point.py
  codegen-examples/examples/swebench_agent_run/uv.lock
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Add GithubViewCommitHistoryTool with URL support
  src/codegen/extensions/langchain/tools.py
  src/codegen/extensions/tools/github/__init__.py
  src/codegen/extensions/tools/github/view_commit_history.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Change get methods to throw exception by default
  src/codegen/sdk/core/class_definition.py
  src/codegen/sdk/core/codebase.py
  src/codegen/sdk/core/detached_symbols/code_block.py
  src/codegen/sdk/core/detached_symbols/function_call.py
  src/codegen/sdk/core/directory.py
  src/codegen/sdk/core/file.py
  src/codegen/sdk/core/interface.py
  src/codegen/sdk/core/interfaces/callable.py
  src/codegen/sdk/core/interfaces/has_symbols.py
  src/codegen/sdk/core/type_alias.py
  src/codegen/sdk/python/file.py
  src/codegen/sdk/typescript/enum_definition.py
  src/codegen/sdk/typescript/file.py
  src/codegen/sdk/typescript/interfaces/has_block.py
  src/codegen/sdk/typescript/namespace.py
  src/codegen/sdk/typescript/type_alias.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Automated pre-commit update
  src/codegen/sdk/core/file.py
Owners: @codegen-sh/graph-sitter, @codegen-team

fix: limit agent modal function concurrency
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/modal_harness/entry_point.py
Owners: @codegen-sh/graph-sitter, @codegen-team

fix: post-merge bugs
  codegen-examples/examples/swebench_agent_run/eval_cli.py
  codegen-examples/examples/swebench_agent_run/run_eval.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/metrics.py
  codegen-examples/examples/swebench_agent_run/swebench_agent_run/report.py
Owners: @codegen-sh/graph-sitter, @codegen-team

done
  pyproject.toml
  src/codegen/agents/code_agent.py
  src/codegen/extensions/langchain/agent.py
  src/codegen/extensions/langchain/graph copy.py
  src/codegen/extensions/langchain/graph.py
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Add verify=False flag to codebase.create_file
  src/codegen/sdk/core/codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add verify=False flag to create_file method
  src/codegen/sdk/core/codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team

fix: limited token output
  codegen-examples/examples/swebench_agent_run/local_run.ipynb
  src/codegen/extensions/langchain/agent.py
Owners: @codegen-sh/graph-sitter, @codegen-team

.github/CODEOWNERS:

* @codegen-sh/graph-sitter @codegen-team
**/skills @codegen-sh/capabilities @codegen-team @codegen-sh/capabilities
**/code_generation @codegen-sh/graph-sitter @codegen-team
**/uv.lock @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/pyproject.toml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/*.yml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
