Repository Zeeeepa/codegen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @codegen-sh/graph-sitter, @codegen-team, @codegen-sh/capabilities, @renovate-approve[bot]

Delete projector/cli.py
  projector/cli.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Delete pr_review_bot_new directory
  pr_review_bot_new/README.md
  pr_review_bot_new/__init__.py
  pr_review_bot_new/api/__init__.py
  pr_review_bot_new/api/app.py
  pr_review_bot_new/api/webhook_handler.py
  pr_review_bot_new/core/__init__.py
  pr_review_bot_new/core/compatibility.py
  pr_review_bot_new/core/github_client.py
  pr_review_bot_new/core/pr_reviewer.py
  pr_review_bot_new/main.py
  pr_review_bot_new/monitors/__init__.py
  pr_review_bot_new/monitors/branch_monitor.py
  pr_review_bot_new/monitors/pr_monitor.py
  pr_review_bot_new/run.py
  pr_review_bot_new/setup.py
  pr_review_bot_new/utils/__init__.py
  pr_review_bot_new/utils/ngrok_manager.py
  pr_review_bot_new/utils/slack_notifier.py
  pr_review_bot_new/utils/webhook_manager.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  src/codegen/extensions/swebench/constants.py
  src/codegen/extensions/swebench/entry_point.py
  src/codegen/extensions/swebench/env.template
  src/codegen/extensions/swebench/run_eval.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  pr_review_bot/pr_review_management_workflow.md
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  pr_review_bot/pr_review_bot/core/config_manager.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Delete pr_review_bot/run.py
  pr_review_bot/run.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Delete pr_review_bot/pr_review_bot/run.py
  pr_review_bot/pr_review_bot/run.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Delete pr_review_bot/README.md
  pr_review_bot/README.md
Owners: @codegen-sh/graph-sitter, @codegen-team

Create Dockerfile
  pr_review_bot/pr_review_bot/Dockerfile
Owners: @codegen-sh/graph-sitter, @codegen-team

Create docker-compose.yml
  pr_review_bot/pr_review_bot/docker-compose.yml
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Create config.yaml
  pr_review_bot/pr_review_bot/config.yaml
Owners: @codegen-sh/graph-sitter, @codegen-team

Create .env.example
  pr_review_bot/.env.example
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  pr_review_bot/pr_review_bot/app.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update README.md
  pr_review_bot/pr_review_bot/README.md
Owners: @codegen-sh/graph-sitter, @codegen-team

Create pr_review_controller.py
  pr_review_bot/pr_review_bot/core/pr_review_controller.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update README.md
  pr_review_bot/pr_review_bot/README.md
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  pr_review_bot/pr_review_bot/validator/documentation_parser.py
  pr_review_bot/pr_review_bot/validator/documentation_service.py
  pr_review_bot/pr_review_bot/validator/documentation_validator.py
Owners: @codegen-sh/graph-sitter, @codegen-team

fix: remove dateutil
  pyproject.toml
  uv.lock
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

fix: install api client from git repo
  pyproject.toml
  src/codegen/agents/agent.py
  src/codegen/agents/client/.openapi-generator/FILES
  src/codegen/agents/client/.openapi-generator/VERSION
  src/codegen/agents/client/README.md
  src/codegen/agents/client/openapi_client/__init__.py
  src/codegen/agents/client/openapi_client/api/__init__.py
  src/codegen/agents/client/openapi_client/api/agents_api.py
  src/codegen/agents/client/openapi_client/api/organizations_api.py
  src/codegen/agents/client/openapi_client/api/users_api.py
  src/codegen/agents/client/openapi_client/api_client.py
  src/codegen/agents/client/openapi_client/api_response.py
  src/codegen/agents/client/openapi_client/configuration.py
  src/codegen/agents/client/openapi_client/exceptions.py
  src/codegen/agents/client/openapi_client/models/__init__.py
  src/codegen/agents/client/openapi_client/models/agent_run_response.py
  src/codegen/agents/client/openapi_client/models/create_agent_run_input.py
  src/codegen/agents/client/openapi_client/models/http_validation_error.py
  src/codegen/agents/client/openapi_client/models/organization_response.py
  src/codegen/agents/client/openapi_client/models/organization_settings.py
  src/codegen/agents/client/openapi_client/models/page_organization_response.py
  src/codegen/agents/client/openapi_client/models/page_user_response.py
  src/codegen/agents/client/openapi_client/models/user_response.py
  src/codegen/agents/client/openapi_client/models/validation_error.py
  src/codegen/agents/client/openapi_client/models/validation_error_loc_inner.py
  src/codegen/agents/client/openapi_client/rest.py
  uv.lock
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

public pages updates
  codegen-frontend/public/typeshed.zip
Owners: @codegen-sh/graph-sitter, @codegen-team

fix: remove .git from codegen-api-client source
  pyproject.toml
  uv.lock
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

fix: redo lockfile
  uv.lock
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Add files via upload
  mcp/README.md
  mcp/__init__.py
  mcp/analysis_tools.py
  mcp/client.py
  mcp/controllers.py
  mcp/controllers/__init__.py
  mcp/controllers/ai_controller.py
  mcp/controllers/base.py
  mcp/controllers/class_controller.py
  mcp/controllers/file_controller.py
  mcp/controllers/function_controller.py
  mcp/controllers/import_controller.py
  mcp/controllers/search_controller.py
  mcp/controllers/symbol_controller.py
  mcp/editing_tools.py
  mcp/examples/ai_tools/README.md
  mcp/examples/ai_tools/codebase_ai_example.py
  mcp/examples/ai_tools/reflection_example.py
  mcp/examples/file_operations.py
  mcp/examples/search_operations.py
  mcp/examples/symbol_operations.py
  mcp/mcp__init__.py
  mcp/models.py
  mcp/models/__init__.py
  mcp/models/base.py
  mcp/models/class_model.py
  mcp/models/function.py
  mcp/models/import_model.py
  mcp/models/symbol.py
  mcp/protocol.py
  mcp/protocol/__init__.py
  mcp/protocol/router.py
  mcp/server.py
  mcp/symbol_operations.py
Owners: @codegen-sh/graph-sitter, @codegen-team

[CG-8705] feat: Implement Namespace as TS graph node type (#40)
  src/codegen/sdk/core/expressions/chained_attribute.py
  src/codegen/sdk/python/import_resolution.py
  src/codegen/sdk/typescript/import_resolution.py
  src/codegen/sdk/typescript/namespace.py
  tests/unit/codegen/sdk/typescript/import_resolution/test_import_resolution_resolve_import.py
  tests/unit/codegen/sdk/typescript/namespace/test_namespace.py
  tests/unit/codegen/sdk/typescript/namespace/test_namespace_complex_examples.py
  tests/unit/codegen/sdk/typescript/namespace/test_namespace_modifications.py
  tests/unit/codegen/sdk/typescript/namespace/test_namespace_usage.py
Owners: @codegen-sh/graph-sitter, @codegen-team

[CG-7930] new api for removing unused symbols (#855)
  src/codegen/sdk/codebase/transaction_manager.py
  src/codegen/sdk/core/file.py
  src/codegen/sdk/core/import_resolution.py
  src/codegen/sdk/core/interfaces/editable.py
  src/codegen/sdk/core/symbol.py
  src/codegen/sdk/typescript/symbol.py
  tests/unit/codegen/sdk/python/file/test_file_remove_unused_import.py
  tests/unit/codegen/sdk/python/file/test_file_unicode.py
  tests/unit/codegen/sdk/python/function/test_function_move_to_file.py
  tests/unit/codegen/sdk/typescript/file/test_file_remove.py
  tests/unit/codegen/sdk/typescript/file/test_file_unicode.py
  tests/unit/codegen/sdk/typescript/function/test_function_move_to_file.py
  tests/unit/codegen/sdk/typescript/move_symbol_to_file/test_move.py
  tests/unit/codegen/sdk/typescript/move_symbol_to_file/test_move_tsx_to_file.py
  tests/unit/codegen/sdk/typescript/tsx/test_tsx_edit.py
  tests/unit/codegen/sdk/typescript/tsx/test_tsx_parsing.py
  tests/unit/skills/implementations/guides/organize-your-codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team, @codegen-sh/capabilities

fix: return branch name with pr changes
  src/codegen/sdk/core/codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update local_run.ipynb
  codegen-examples/examples/swebench_agent_run/local_run.ipynb
Owners: @codegen-sh/graph-sitter, @codegen-team

Update data.py
  src/codegen/agents/data.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update tracer.py
  src/codegen/agents/tracer.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update graph.py
  src/codegen/extensions/langchain/graph.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update graph.py
  src/codegen/extensions/langchain/graph.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 046b238
  src/codegen/agents/data.py
  src/codegen/agents/tracer.py
  src/codegen/extensions/langchain/tools.py
  src/codegen/extensions/tools/edit_file.py
  src/codegen/extensions/tools/list_directory.py
  src/codegen/extensions/tools/observation.py
  src/codegen/extensions/tools/relace_edit.py
  src/codegen/extensions/tools/search.py
  src/codegen/extensions/tools/semantic_edit.py
  src/codegen/extensions/tools/tool_output_types.py
  src/codegen/extensions/tools/view_file.py
  tests/unit/codegen/extensions/test_tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 31ca6aa
  src/codegen/extensions/tools/relace_edit.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 8821e9b
  .github/workflows/test.yml
  src/codegen/extensions/tools/create_file.py
  src/codegen/extensions/tools/view_file.py
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Apply changes from commit 046b238
  src/codegen/extensions/tools/relace_edit.py
  src/codegen/extensions/tools/view_file.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 31ca6aa
  src/codegen/extensions/tools/relace_edit.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 8821e9b
  src/codegen/extensions/tools/view_file.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit bf06715
  src/codegen/sdk/core/expressions/chained_attribute.py
  src/codegen/sdk/python/import_resolution.py
  src/codegen/sdk/typescript/import_resolution.py
  src/codegen/sdk/typescript/namespace.py
  tests/unit/codegen/sdk/typescript/import_resolution/test_import_resolution_resolve_import.py
  tests/unit/codegen/sdk/typescript/namespace/test_namespace.py
  tests/unit/codegen/sdk/typescript/namespace/test_namespace_complex_examples.py
  tests/unit/codegen/sdk/typescript/namespace/test_namespace_modifications.py
  tests/unit/codegen/sdk/typescript/namespace/test_namespace_usage.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 3a3231f
  src/codegen/extensions/langchain/graph.py
  src/codegen/extensions/langchain/llm.py
  src/codegen/extensions/langchain/tools.py
  src/codegen/extensions/langchain/utils/custom_tool_node.py
  src/codegen/extensions/tools/create_file.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 903052b
  codegen-examples/examples/deep_code_research/run.py
  codegen-examples/examples/langchain_agent/README.md
  codegen-examples/examples/langchain_agent/run.py
  src/codegen/cli/commands/agent/main.py
  src/codegen/extensions/langchain/__init__.py
  src/codegen/extensions/langchain/agent.py
  src/codegen/extensions/langchain/tools.py
Owners: @codegen-sh/graph-sitter, @codegen-team

.github/CODEOWNERS:

* @codegen-sh/graph-sitter @codegen-team
**/skills @codegen-sh/capabilities @codegen-team @codegen-sh/capabilities
**/code_generation @codegen-sh/graph-sitter @codegen-team
**/uv.lock @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/pyproject.toml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/*.yml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
