Repository Zeeeepa/codegen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @codegen-sh/graph-sitter, @codegen-team, @codegen-sh/capabilities, @renovate-approve[bot]

Apply changes from commit 53e774d
  src/codegen/extensions/langchain/graph.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 3367e98
  src/codegen/extensions/tools/observation.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit a2e8cc7
  src/codegen/extensions/tools/observation.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit a54a070
  src/codegen/sdk/codebase/transaction_manager.py
  src/codegen/sdk/core/file.py
  src/codegen/sdk/core/import_resolution.py
  src/codegen/sdk/core/interfaces/editable.py
  src/codegen/sdk/core/symbol.py
  src/codegen/sdk/typescript/symbol.py
  tests/unit/codegen/sdk/python/file/test_file_remove_unused_import.py
  tests/unit/codegen/sdk/python/file/test_file_unicode.py
  tests/unit/codegen/sdk/python/function/test_function_move_to_file.py
  tests/unit/codegen/sdk/typescript/file/test_file_remove.py
  tests/unit/codegen/sdk/typescript/file/test_file_unicode.py
  tests/unit/codegen/sdk/typescript/function/test_function_move_to_file.py
  tests/unit/codegen/sdk/typescript/move_symbol_to_file/test_move.py
  tests/unit/codegen/sdk/typescript/move_symbol_to_file/test_move_tsx_to_file.py
  tests/unit/codegen/sdk/typescript/tsx/test_tsx_edit.py
  tests/unit/codegen/sdk/typescript/tsx/test_tsx_parsing.py
  tests/unit/skills/implementations/guides/organize-your-codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team, @codegen-sh/capabilities

Apply changes from commit f7bee3c
  src/codegen/sdk/core/codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit c74b337
  src/codegen/extensions/langchain/agent.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 67beb1d
  .github/actions/setup-environment/action.yml
  .github/workflows/release.yml
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Apply changes from commit 31e214c
  src/codegen/git/schemas/repo_config.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 6c086fe
  src/codegen/git/clients/git_repo_client.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit f47955f
  src/codegen/sdk/core/codebase.py
  tests/integration/codegen/git/codebase/conftest.py
  tests/unit/codegen/sdk/core/test_codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 5af50ea
  src/codegen/git/repo_operator/repo_operator.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 8bcc267
  src/codegen/shared/logging/get_logger.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit 4d5c560
  src/codegen/__init__.py
  src/codegen/agents/README.md
  src/codegen/agents/__init__.py
  src/codegen/agents/agent.py
  src/codegen/agents/client/.openapi-generator/FILES
  src/codegen/agents/client/.openapi-generator/VERSION
  src/codegen/agents/client/README.md
  src/codegen/agents/client/openapi_client/__init__.py
  src/codegen/agents/client/openapi_client/api/__init__.py
  src/codegen/agents/client/openapi_client/api/agents_api.py
  src/codegen/agents/client/openapi_client/api/organizations_api.py
  src/codegen/agents/client/openapi_client/api/users_api.py
  src/codegen/agents/client/openapi_client/api_client.py
  src/codegen/agents/client/openapi_client/api_response.py
  src/codegen/agents/client/openapi_client/configuration.py
  src/codegen/agents/client/openapi_client/exceptions.py
  src/codegen/agents/client/openapi_client/models/__init__.py
  src/codegen/agents/client/openapi_client/models/agent_run_response.py
  src/codegen/agents/client/openapi_client/models/create_agent_run_input.py
  src/codegen/agents/client/openapi_client/models/http_validation_error.py
  src/codegen/agents/client/openapi_client/models/organization_response.py
  src/codegen/agents/client/openapi_client/models/organization_settings.py
  src/codegen/agents/client/openapi_client/models/page_organization_response.py
  src/codegen/agents/client/openapi_client/models/page_user_response.py
  src/codegen/agents/client/openapi_client/models/user_response.py
  src/codegen/agents/client/openapi_client/models/validation_error.py
  src/codegen/agents/client/openapi_client/models/validation_error_loc_inner.py
  src/codegen/agents/client/openapi_client/rest.py
  src/codegen/agents/constants.py
  tests/unit/codegen/agents/__init__.py
  tests/unit/codegen/agents/test_agent.py
  tests/unit/codegen/agents/test_api_client.py
  tests/unit/codegen/agents/test_simple_agent.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Apply changes from commit f7d3d23
  src/codegen/agents/client/openapi_client/api_response.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix: Allow bot users to bypass permission check in GitHub Actions workflow
  .github/workflows/test.yml
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Fix: Allow codegen-sh[bot] to run tests by adding bot allowlist
  .github/workflows/test.yml
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Fix: Skip permission check for codegen-sh[bot] in test workflow
  .github/workflows/test.yml
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Fix: Completely bypass permission check in test workflow
  .github/workflows/test.yml
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Fix GitHub Actions workflow to allow codegen-sh[bot] to bypass permission check
  .github/workflows/test.yml
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Add files via upload
  codegen-on-oss/codegen_on_oss/analysis/analysis.py
  codegen-on-oss/codegen_on_oss/analysis/analysis_import.py
  codegen-on-oss/codegen_on_oss/analysis/document_functions.py
  codegen-on-oss/codegen_on_oss/analysis/module_dependencies.py
  codegen-on-oss/codegen_on_oss/analysis/symbolattr.py
  codegen-on-oss/codegen_on_oss/snapshot/event_handlers.py
  codegen-on-oss/codegen_on_oss/snapshot/helpers.py
  codegen-on-oss/codegen_on_oss/snapshot/pr_review.py
  codegen-on-oss/codegen_on_oss/snapshot/pr_tasks.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  codegen-on-oss/codegen_on_oss/analysis/codebase_analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  codegen-on-oss/codegen_on_oss/analysis/codebase_context.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  codegen-on-oss/codegen_on_oss/analysis/current_code_codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  codegen-on-oss/codegen_on_oss/analysis/codegen_sdk_codebase.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  codegen-on-oss/codegen_on_oss/analysis/mdx_docs_generation.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Add files via upload
  codegen-on-oss/codegen_on_oss/harness.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix code formatting and security issues in analysis module
  codegen-on-oss/codegen_on_oss/analysis/analysis.py
  codegen-on-oss/codegen_on_oss/metrics.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix mypy issues in commit_analysis.py
  codegen-on-oss/codegen_on_oss/analysis/commit_analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix syntax issues in commit_analysis.py
  codegen-on-oss/codegen_on_oss/analysis/commit_analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix type annotation in commit_analysis.py to resolve mypy error
  codegen-on-oss/codegen_on_oss/analysis/commit_analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update codegen-on-oss/codegen_on_oss/analysis/commit_analysis.py
  codegen-on-oss/codegen_on_oss/analysis/commit_analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update codegen-on-oss/codegen_on_oss/analysis/commit_analysis.py
  codegen-on-oss/codegen_on_oss/analysis/commit_analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update codegen-on-oss/codegen_on_oss/analysis/commit_analysis.py
  codegen-on-oss/codegen_on_oss/analysis/commit_analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Update analysis.py
  codegen-on-oss/codegen_on_oss/analysis/analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

fix: add server url to openapi spec (#1072)
  docs/api-reference/openapi3.json
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix: Update workflow to allow bot users to bypass permission check
  .github/workflows/test.yml
Owners: @codegen-sh/graph-sitter, @codegen-team, @renovate-approve[bot]

Update codegen-on-oss/codegen_on_oss/outputs/html_report_generator.py
  codegen-on-oss/codegen_on_oss/outputs/html_report_generator.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix line length issues and parameter naming consistency in code_integrity_analyzer.py
  codegen-on-oss/codegen_on_oss/analysis/code_integrity_analyzer.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix line length issue in codebase_analysis.py
  codegen-on-oss/codegen_on_oss/analysis/codebase_analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

Fix line length issues in get_symbol_summary function
  codegen-on-oss/codegen_on_oss/analysis/codebase_analysis.py
Owners: @codegen-sh/graph-sitter, @codegen-team

.github/CODEOWNERS:

* @codegen-sh/graph-sitter @codegen-team
**/skills @codegen-sh/capabilities @codegen-team @codegen-sh/capabilities
**/code_generation @codegen-sh/graph-sitter @codegen-team
**/uv.lock @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/pyproject.toml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
**/*.yml @codegen-sh/graph-sitter @codegen-team @renovate-approve[bot]
